## UBC
#### Programming in Python for DS

June 15, 2022  

Instructor: Socorro Dominguez Vidana

In [1]:
import pandas as pd

#### Module 2

Overview:

- [x] Demonstrate how to rename columns of a dataframe using .rename(). *Previous recording*
- [] Create new or columns in a dataframe using .assign() notation.
- [] Drop columns in a dataframe using .drop()
- [] Use df[] notation to filter rows of a dataframe.
- [] Calculate summary statistics on grouped objects using .groupby() and .agg().

## `assign()`

In [ ]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df

with `.loc[]`

In [ ]:
df.assign(name_col = df.loc[:, 'Max Speed']*2)

In [ ]:
df

without `.loc[]`

In [ ]:
df.assign(name_col2 = df['Max Speed']*2)

In [ ]:
df

without `.assign()`

In [ ]:
df['name_col3'] = df['Max Speed']*2

In [ ]:
df

## `.drop()`

In [ ]:
df.drop(columns = 'Max Speed')

In [ ]:
df.drop(columns = ['Animal', 'Max Speed'])

In [ ]:
df

In [ ]:
df.rename(columns = {'Max Speed':'max_speed', 'name_col3':'speedx2'})

In [ ]:
df.columns = ['_animal', '_speed', '_speed2']

In [ ]:
df

## filter

In [ ]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Falcon',
                              'Parrot', 'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 320., 24., 26., 330]})
df

In [ ]:
df['Max Speed'] > 300

In [ ]:
df[df['Max Speed'] > 300]

In [ ]:
df[(_____) & (_____)]

## `.groupby()`

In [ ]:
df.groupby('Animal')

**What does that even mean??**

![](https://media1.giphy.com/media/FcuiZUneg1YRAu1lH2/giphy.gif?cid=ecf05e47t6tl4ppzchujy27worbrevfetpm299tixcfm7sk6&rid=giphy.gif&ct=g)

In [ ]:
df2 = df.groupby('Animal').sum()

`reset_index()`

In [ ]:
df.groupby('Animal').sum().reset_index()

In [ ]:
df.groupby('Animal', as_index=False).sum()

In [ ]:
df2.columns

In [ ]:
df2

In [ ]:
df2[df2['Max Speed']> 1000]

In [ ]:
df3 = df.groupby('Animal').agg({'Max Speed':['mean', 'sum']})
df3

In [ ]:
df3[df3['Max Speed', 'mean'] > 300]

![](https://media2.giphy.com/media/26vIftJr40wzGUadO/giphy.gif?cid=ecf05e47fxk3e7r4f63dbi5cuaml8tn8bm2hn7boalbkydcd&rid=giphy.gif&ct=g)

In [ ]:
df4 = df.groupby('Animal').agg(['mean', 'sum']).loc[:,'Max Speed'].reset_index()
df4

Is there only **ONE** way of doing things?

![](https://media2.giphy.com/media/ftqLysT45BJMagKFuk/giphy.gif?cid=ecf05e47zx1vugxxgh9hyet02mwendrr6tfopa20ysvst7pi&rid=giphy.gif&ct=g)

**The tests are a guide.**

We cannot make very strict tests. 
- Inhibit your creativity. 

We cannot make very lenient tests.
- Cannot test your output

Tests are based on:
- An ideal of best practices
- Tidy data (more on this next week)
- A bit of hand holding to make your life in future questions "easier"
- Beginner friendly skills (if you are a pro, you might find them a bit limiting)

Disclaimer:
If you want the full mark, you need to pass the test.

How?

| NO | YES |
| --- | --- |
| ![](https://media3.giphy.com/media/9bXjoBk28pwnKLKoKb/giphy.gif?cid=ecf05e476d0x3f361cv2upqr8x6p1whtx5ggazdhrsoigmf0&rid=giphy.gif&ct=g) | ![](https://media4.giphy.com/media/anSiSGG5YaXeBn5gv4/giphy.gif?cid=ecf05e476d0x3f361cv2upqr8x6p1whtx5ggazdhrsoigmf0&rid=giphy.gif&ct=g)|

Read the bottom part of the error messages, you might find them helpful.

In [10]:
pd.read_csv('https://raw.githubusercontent.com/UBC-MDS/programming-in-python-for-data-science/master/data/canucks.csv', index_col='Player').head()

,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
Player,,,,,,,,,
Justin Bailey,38,24,193,214,United States,Forward,4,01-Jul-95,700000.0
Jay Beagle,83,34,191,210,Canada,Forward,11,16-Oct-85,3200000.0
Jordie Benn,4,32,188,199,Canada,Defense,8,26-Jul-87,2400000.0
Guillaume Brisebois,56,22,188,175,Canada,Defense,1,21-Jul-97,700000.0
Thatcher Demko,35,24,193,192,United States,Goalie,2,08-Dec-95,900000.0

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/UBC-MDS/programming-in-python-for-data-science/master/data/canucks.csv')
df.set_index('Player')

,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
Player,,,,,,,,,
Justin Bailey,38,24,193,214,United States,Forward,4,01-Jul-95,700000.0
Jay Beagle,83,34,191,210,Canada,Forward,11,16-Oct-85,3200000.0
Jordie Benn,4,32,188,199,Canada,Defense,8,26-Jul-87,2400000.0
Guillaume Brisebois,56,22,188,175,Canada,Defense,1,21-Jul-97,700000.0
Thatcher Demko,35,24,193,192,United States,Goalie,2,08-Dec-95,900000.0
Alexander Edler,23,33,191,212,Swedan,Defense,13,21-Apr-86,7000000.0
Loui Eriksson,21,34,188,179,Swedan,Forward,13,17-Jul-85,5000000.0
Adam Gaudette,88,23,185,184,United States,Forward,2,03-Oct-96,925000.0
Bo Horvat (C),53,24,183,215,Canada,Forward,5,05-Apr-95,5775000.0
Quinn Hughes,43,20,178,175,United States,Defense,1,14-Oct-99,NaN
Zack MacEwen,71,23,191,205,Canada,Forward,1,08-Jul-96,925000.0
Jacob Markstrom,25,30,198,206,Swedan,Goalie,9,31-Jan-90,4000000.0
J.T. Miller,9,26,185,218,United States,Forward,7,14-Mar-93,6000000.0
Tyler Myers,57,29,203,229,United States,Defense,10,01-Feb-90,7000000.0
Tanner Pearson,70,27,185,201,Canada,Forward,6,10-Aug-92,3850000.0
Elias Pettersson,40,21,188,176,Swedan,Forward,1,12-Nov-98,925000.0
Antoine Roussel,26,30,180,199,France,Forward,7,21-Nov-89,3800000.0
Tim Schaller,59,29,188,204,United States,Forward,5,16-Nov-90,1900000.0
Troy Stecher,51,25,178,186,Canada,Defense,3,07-Apr-94,2325000.0
Brandon Sutter,20,30,191,190,United States,Forward,11,14-Feb-89,4500000.0
Christopher Tanev,8,30,188,197,Canada,Defense,9,20-Dec-89,NaN
Jake Virtanen,18,23,185,226,Canada,Forward,4,17-Aug-96,1500000.0

### Extra (time allowing)

In [ ]:
df

In [ ]:
import numpy as np

conditions = [
    ((df['Animal'] == 'Falcon') & (df['Max Speed'] < 350)),
    ((df['Animal'] == 'Falcon') & (df['Max Speed'] >= 350)),
    ((df['Animal'] == 'Parrot') & (df['Max Speed'] <= 300)),
    ((df['Animal'] == 'Parrot') & (df['Max Speed'] > 300))
    ]

# create a list of the values we want to assign for each condition
values = ['slow_falcon', 'fast_falcon', 'avg_parrot', 'vfast_parrot']

# create a new column and use np.select to assign values to it using our lists as arguments
df['class'] = np.select(conditions, values)

df