### UBC Extended Learning
#### Instructor: Socorro Dominguez
#### September 07, 2022

# Python Built-in Datatypes

## Numbers
- Integers
- Floats

In [2]:
type(5)

int

Particularities of float numbers when working with a computer

In [3]:
type(5.0)

float

In [4]:
3.9 - 1.8

2.0999999999999996

## Words
- Strings

In [5]:
"Hello world!"

'Hello world!'

In [6]:
"She's a nice person."

"She's a nice person."

## Booleans

`True` or `False`

- Make sure they are capitalized
- Do not need to use `''` or `""` <- it will become a string if you do so.

In [7]:
True

True

In [8]:
False

False

## Casting Datatypes

In [9]:
type('5')

str

In [11]:
type(float('5'))

float

In [13]:
float(1)

1.0

### Reasons for casting

In [14]:
import re

In [15]:
sentence = "I bought 2.5 Lbs of apples and 4 lbs Of oranges"

In [16]:
numbers = re.findall(r"(?:\d+(?:\.\d*)?|\.\d+)", sentence)
numbers

['2.5', '4']

In [17]:
float(numbers[0]), int(numbers[1])

(2.5, 4)

In [18]:
float(numbers[0]) + int(numbers[1])

6.5

### String Verbs

In [19]:
sentence[0]

'I'

In [20]:
sentence[4:10]

'ught 2'

In [21]:
sentence.split()

['I',
 'bought',
 '2.5',
 'Lbs',
 'of',
 'apples',
 'and',
 '4',
 'lbs',
 'Of',
 'oranges']

In [22]:
sentence.title()

'I Bought 2.5 Lbs Of Apples And 4 Lbs Of Oranges'

In [23]:
sentence.upper()

'I BOUGHT 2.5 LBS OF APPLES AND 4 LBS OF ORANGES'

In [24]:
sentence.lower()

'i bought 2.5 lbs of apples and 4 lbs of oranges'

In [ ]:
sentence.split()

In [25]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
            
    counts = dict(sorted(counts.items(), key=lambda item: item[1],reverse=True))

    return counts

In [26]:
print(word_count(sentence))

{'I': 1, 'bought': 1, '2.5': 1, 'Lbs': 1, 'of': 1, 'apples': 1, 'and': 1, '4': 1, 'lbs': 1, 'Of': 1, 'oranges': 1}

In [27]:
print(word_count(sentence.lower()))

{'lbs': 2, 'of': 2, 'i': 1, 'bought': 1, '2.5': 1, 'apples': 1, 'and': 1, '4': 1, 'oranges': 1}

## Data Structures

## List 

- Ordered sequence of items
- `[` and `]`
- Different data types can be stored

In [87]:
a_string = "Hello world! How are you?"
a_string

'Hello world! How are you?'

In [88]:
a_string.split()

['Hello', 'world!', 'How', 'are', 'you?']

In [29]:
my_list = [["hello", "world"], 5, 3.4]
my_list

[['hello', 'world'], 5, 3.4]

In [31]:
my_list[0][0]

'hello'

We can slice them / Access their elements

In [32]:
my_list[1:3]

[5, 3.4]

In [33]:
my_list[0]

['hello', 'world']

In [34]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': ['A', 'A', 'B', 'B', 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})
df

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3    B     8     4    D
4    D     7     2    e
5    C     4     3    F

In [37]:
df.sort_values(by='col1')

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3    B     8     4    D
5    C     4     3    F
4    D     7     2    e

In [38]:
df.sort_values(by=['col1', 'col2'])

  col1  col2  col3 col4
1    A     1     1    B
0    A     2     0    a
3    B     8     4    D
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e

In [86]:
df['col1'].value_counts()

B    2
A    2
C    1
D    1
Name: col1, dtype: int64

#### List Comprehension

We can manipulate a whole list using list comprehension:

In [39]:
new_list = [0,3,4,5]

other_new_list = []

for i in new_list:
    x = i+5
    other_new_list.append(x)
    
other_new_list

[5, 8, 9, 10]

In [40]:
other_new_list2 = [i+5 for i in new_list]

other_new_list2

[5, 8, 9, 10]

### Tuples
Tuples are a data structure very similar to lists but with two main differences:

They are represented with parentheses instead of square brackets, and
They are immutable

In [41]:
my_tuple = ('I', None,  'do', 1, False)
my_tuple

('I', None, 'do', 1, False)

In [72]:
my_list = ['I', None,  'do', 1, False]
my_list

['I', None, 'do', 1, False]

In [43]:
my_list[0] = "You"

In [44]:
my_list

['You', None, 'do', 1, False]

In [45]:
my_tuple[0] = "You"

TypeError: 'tuple' object does not support item assignment

In [68]:
my_list.append(4)

In [71]:
type(my_list)

NoneType

In [70]:
my_list

### Most common tuple you will use now

In [49]:
df.shape[0]

6

### Sets

Data structure that:
- are unordered
- The values contained are unique - meaning there are no duplicate entries.
- Sets are made with curly brackets.

In [83]:
my_set = {2, 1.0, 'apple', 1.0, 'apple'}
my_set

{1.0, 2, 'apple'}

In [85]:
list(my_set)

[1.0, 2, 'apple']

### You can edit them - you can remove elements from them

In [58]:
my_set.remove('apple')

In [59]:
my_set

{1.0, 2}

In [60]:
my_set.remove('apple')
my_set

KeyError: 'apple'

#### Dictionaries
Dictionaries are unordered pairs of keys and corresponding values

In [76]:
account_details = {'Name':['Jack Sparrow', 'John'],
                   'Account_Type':['Checking', 'Checking'],
                   'Name2': ['John', 'Jack'],
                   'Branch': [13, 12],
                   'Age': [23, 22]}

pd.DataFrame(account_details)

           Name Account_Type Name2  Branch  Age
0  Jack Sparrow     Checking  John      13   23
1          John     Checking  Jack      12   22

In [77]:
account_details.keys()

dict_keys(['Name', 'Account_Type', 'Name2', 'Branch', 'Age'])

In [78]:
account_details.values()

dict_values([['Jack Sparrow', 'John'], ['Checking', 'Checking'], ['John', 'Jack'], [13, 12], [23, 22]])

In [79]:
account_details.items()

dict_items([('Name', ['Jack Sparrow', 'John']), ('Account_Type', ['Checking', 'Checking']), ('Name2', ['John', 'Jack']), ('Branch', [13, 12]), ('Age', [23, 22])])

### Nice things about Dictionaries

In [80]:
account_details['Name']

['Jack Sparrow', 'John']

In [81]:
for key in account_details:
    print(account_details[key])

['Jack Sparrow', 'John']
['Checking', 'Checking']
['John', 'Jack']
[13, 12]
[23, 22]

In [82]:
for key, value in account_details.items():
    print(key, value, account_details[key])

Name ['Jack Sparrow', 'John'] ['Jack Sparrow', 'John']
Account_Type ['Checking', 'Checking'] ['Checking', 'Checking']
Name2 ['John', 'Jack'] ['John', 'Jack']
Branch [13, 12] [13, 12]
Age [23, 22] [23, 22]